@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;500;700&family=Roboto+Mono:wght@400;700&display=swap");
:root {
  --bg-primary: #2b2b2b;
  --text-white: #eeeeee;
  --bg-secondary: #60ebe7;
  --code-snippet: #eb9360;
}
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-white);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Aria,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  padding: 50px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.arrow {
  color: var(--text-white);
  transition: all 200ms ease-in-out;
}
.arrow:hover {
  color: var(--bg-secondary);
}

md-block {
  width: 100%;
}

p a {
  text-decoration: none;
  color: var(--bg-secondary);
}

p a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 60px;
}

ul li {
  margin-top: 10px;
}

ul li a {
  text-decoration: none;
  color: var(--bg-secondary);
}

ul li a:hover {
  text-decoration: underline;
}

ol {
  padding: 20px 0 20px 50px;
}

ol li {
  padding: 5px 0;
}

ol li ul {
  padding: 5px 0 5px 30px;
}

table,
th,
td {
  border: 1px solid;
  padding: 20px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

.language-bash,
.language-javascript {
  margin: 20px;
  background-color: rgba(30, 30, 30, 0.7);
  padding: 30px;
  border-radius: 10px;
  word-wrap: break-word;
}

p code {
  padding: 2px 8px;

  background-color: var(--code-snippet);
  color: var(--bg-primary);
  margin: .5rem;
  border-radius: 10px;
}

h1 {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 0 2rem 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  animation: heading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
}

h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 2rem 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #525252;
  text-decoration-thickness: 6px;
  position: relative;
  animation: heading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

h3,
h4,
h5,
h6 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.3rem;
  text-align: center;
  padding: 2rem 0;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #525252;
  text-decoration-thickness: 6px;
  position: relative;
  animation: heading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}
@keyframes heading {
  0% {
    top: -20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.project {
  padding: 20px;
  background-color: var(--bg-secondary);
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.project-link {
  text-decoration: none;
  color: var(--bg-primary);
}

.project:hover {
  background-color: #00fff7;
  box-shadow: 0px 0px 10px black;
}
